*{
    margin: 0px;
    padding:0px;
}
body{
    background-color: #f2e9e4;
}
.calculator{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 450px;
  background-color:#3a6ea5;
  border-radius: 10px;
  border:2px solid #004e98;
}
    
.display{
    margin-top: 5%;
    height: 70px;
    width:90%;
    background-color: #c0c0c0;
    border:2px solid #004e98;
    margin-left: 16px;
    margin-right: 2px;
    border-radius: 10px;
   

}
.numbers{
    margin-top: 30px;
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    padding: 2px;
    align-items: center;

}
.box{
    height: 60px;
    width: 60px;
    padding: 12px;
    margin: 1px;
    background-color: #ebebeb;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 1px rgba(1, 13, 24, 0.5);

}
#equal{
    height:60px;
    width:125px;
}
.colors{
    background-color: #ff6700;
}